aiohttp
requests
pytz
wikipedia
qrcode
feedparser
whoisdomain
Pillow
beautifulsoup4
pyfiglet
googlesearch-python
pyppeteer
pyrofork
tgcrypto
flask
werkzeug==2.2.2
deep-translator
psutil
matplotlib
speedtest-cli
